@-webkit-viewport
    width device-width

@-o-viewport
    width device-width

@-moz-viewport
    width device-width

@-ms-viewport
    width device-width

@viewport
    width device-width

html,body
    background $bodybackgroundcolor
    color $bodycolor
    font $bodyfontsize $bodyfontfamily
    height 100%
    line-height $bodylineheight
    width 100%
